<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Последние посты:</h2>
	<br />
	<% @results.each do |post| %>
		<p>
			<%= post['content'] %>
			<br />
			<br />
			Added at <%= post['created_date'] %>
			<br />
			<a href="/post/<%= post['id'] %>">комментарии</a>
		</p>
		<hr />
	<% end %>

</body>
</html>