<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Добавить новый пост</h2>
	<p>Здесь можно добавить новый псто!1</p>
	<p>
		<form action="/new" method="POST" role="form">
			<textarea class="form-control" rows="5"></textarea>
			<br />
			<button type="button" class="btn btn-primary">YARRR</button>
		</form>
	</p>
</body>
</html>