<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h4>Post details:</h4>
	<p>
		<%= @row['content'] %>
		<br />
		<br />
		Added at <%= @row['created_date'] %>
		<br />
	</p>
	<h4>Комментарии:</h4>
	<form action="/post/<%= @row['id'] %>" method="POST" role="form">
		<textarea name="content" class="form-control" rows="3" placeholder="ничего так не радует, как хороший комментарий..."></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Комментировать</button>
	</form>


</body>
</html>